.logo {
    width: 100px
}

.logo-footer{
    width: 150px;
}

.planos-card {
    background: linear-gradient(#f9db62 ,#ffa724);
}

.botao-wpp {
    position: fixed;
    z-index: 99;
    width: 45px;
    height: 45px;
    bottom: 70px;
    right: 20px;
    background: #34af23;
    border-radius: 4px;
    display: none;
    text-align: center;
    line-height: 62px;
    transition: all 0.3s ease-out 0s;
    > i {
        font-size: 2rem;
        color: #fff;
    }
}

@media screen and (min-width: 992px) {
    .navbar-area .navbar .navbar-nav :nth-child(6) a {
        background: #0067f4;
        padding: 16px !important;
        border-radius: 50px;
        margin-top: 10px;
    }

    .navbar-area.sticky .navbar .navbar-nav :nth-child(6) a {
        color: #fff !important;
    }
    
}


